@import url('../css/fonts.css');

			:root {
				--primary-color: #1e91d0;
				--secondary-color: #00509d;
				--body-fonts: "Roboto Condensed", sans-serif;
				--background-color: #f4f4f9;
				--select-text-color: #B4B4B8;
				--text-color: #3D3C42;
				font-optical-sizing: auto;
				font-style: normal;
			}

			html {
				scroll-behavior: smooth;
			}

			html::-webkit-scrollbar {
				width: .8rem;
			}

			html::-webkit-scrollbar-track {
				background: transparent;
			}

			html::-webkit-scrollbar-thumb {
				background-color: var(--primary-color);
				border-radius: 5rem;
			}

			* {
				font-family: var(--body-fonts);
				padding: 0;
				margin: 0;
			}

			body {
				width: 100%;
				font-family: var(--body-fonts);
				margin: 0;
				padding: 0;
				font-optical-sizing: auto;
				font-style: normal;
				height: auto;
				background-color: #f4f4f9;
				overflow-x: hidden;
			}

			.container {
				width: 100%;
				height: auto;
				background-color: var(--background-color);
				align-items: center;
				justify-content: center;
				margin-top: 3%;

			}


			/*Navbar section*/
			.navbar {
				width: 15vw;
				height: 100vh;
				background-image: linear-gradient(90deg, #1e91d0 15%, #1477d4fb 100%);
				position: fixed;
				justify-content: center;
				align-items: center;
				left: 0;
				float: left;
				margin-top: -3%;
			}

			.logoContainer {
				width: 100%;
				text-align: center;
			}

			.logo {
				width: 50%;
				max-width: 100%;
				object-fit: contain;
				margin-top: 50px;
			}

			.title {
				color: var(--background-color);
				font-size: 0.8em;
			}

			/* menu */
			.menu-navbar {
				margin-top: 3rem;
				display: flex;
				flex-direction: column;
			}

			.dropdown {
				position: relative;
				display: inline-block;
			}

			.dropdown-dashboard {
				display: none;
				position: absolute;
				background-color: var(--background-color);
				width: 120px;
				top: 100%;
				left: 70%;
				z-index: 3;
				box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
				border-radius: 4px;
				padding: 10px;
				overflow-x: hidden;
			}

			.dropdown-dashboard a {
				display: flex;
				text-decoration: none;
				color: black;
				text-align: center;
				align-items: center;
				justify-content: center;
				font-size: 11px;
				flex-direction: column;
				padding: 10px;
				position: relative;
				z-index: 3;
			}

			.dropdown-dashboard a:hover {
				background-color: var(--select-text-color);
				border-radius: 4px;
				color: black;
				border-radius: 4px;
				padding: 10px;
				width: 120px;
				margin-left: -7.2%;
			}

			.dropdown-btn {
				background: none;
				display: flex;
				align-items: center;
				width: 14.3vw;
				height: 8vh;
				border: 0;
				font-size: 15px;
				border-radius: 16px 0 0 16px;
				padding-right: 60px;
				margin-left: 10px;
				cursor: pointer;
				position: relative;
				color: #F6F4EB;
				margin-top: 5%;
			}

			.dropdown-btn:hover {
				height: 8vh;
			}

			.dropdown-btn:hover svg,
			.dropdown-btn.active svg {
				fill: var(--secondary-color);
				color: black;
			}

			.dropdown-btn:hover .counter-icon,
			.dropdown-btn:hover .entertainment-icon,
			.dropdown-btn.active .counter-icon,
			.dropdown-btn.active .entertainment-icon {
				stroke: var(--secondary-color);
			}

			.dropdown-btn.active a {
				color: var(--text-color);
			}

			.dropdown-btn::after {
				content: '';
				border-radius: 50%;
			}

			.dropdown-btn a {
				text-decoration: none;
				color: #F6F4EB;
			}

			.dropdown-btn a:hover {
				color: black;
				font-weight: bold;
			}

			.dropdown:hover .dropdown-dashboard {
				display: block;

			}

			.dropdown {
				color: var(--background-color);
			}

			.dropdown:hover,
			.dropdown:hover a {
				color: black;
				font-weight: bold;
			}

			.dropdown-btn a:hover,
			.dropdown-btn:hover,
			.active {
				color: var(--text-color);
				font-weight: bold;
			}

			.active,
			.dropdown-btn:hover {
				background-color: var(--background-color);
				width: 14.3vw;
				color: var(--text-color);
				font-weight: bold;
			}

			.dropdown-btn:hover+.dropdown-dashboard {
				display: block;
			}

			.dashboard-icon,
			.users-icon,
			.display-icon,
			.entertainment-icon,
			.counter-icon {
				object-fit: scale-down;
				width: 20px;

			}

			.dashboard-icon,
			.users-icon,
			.display-icon,
			.entertainment-icon,
			.counter-icon {
				margin-right: 17px;
			}

			.dashboard-caretright {
				margin-left: 50px;
			}

			.caretright {
				object-fit: scale-down;
				width: 5%;
				right: 5.5rem;
				position: absolute;
			}



			/*Dashboard section*/
			.dashboard-section {
				width: 85vw;
				height: 50vh;
				background-color: var(--background-color);
				float: right;
				margin-left: 15%;
				align-items: center;
				display: flex;
				justify-content: center;
				padding: 20px;
				margin-top: 8%;
			}

			.dashboard-section h1 {
				color: var(--text-color);
				font-size: 2rem;
				margin-top: -35%;
				margin-left: -60%;
				position: absolute;

			}

			.dashboard-head {
				width: 85vw;
				margin-left: 4%;
				height: 7%;
				background-color: #1477d4fb;
				position: fixed;
				top: 0;
				z-index: 1000;
			}

			.icon-container {
				width: 5%;
				height: 100%;
				margin-left: 68%;
			}

			.bell-icon {
				object-fit: scale-down;
				width: 20px;
				margin-top: -8%;
				cursor: pointer;

			}

			.chat-icon {
				object-fit: scale-down;
				width: 25px;
				cursor: pointer;
				margin-top: 1%;
				margin-left: 2%;
				position: absolute;
			}

			.button-profile {
				align-items: center;
				justify-content: center;
				display: flex;
				width: 10vw;
				margin-top: -5.5%;
				margin-left: 84%;
				border-radius: 10px;
				padding: 15px 10px 15px 10px;
				/*tlbr*/
				overflow: hidden;
				cursor: pointer;
				border: none;
				background: none;
				color: white;
			}

			.profile {
				width: 20px;
				object-fit: scale-down;
				margin-right: 10px;
			}

			.caretdown {
				width: 20px;
				margin-left: 5px;
			}

			.adminProfile {
				margin-left: 84%;
				position: absolute;
				background-color: white;
				width: 8vw;
				align-items: center;
				justify-content: center;
				text-align: center;
				z-index: 1;
				display: none;
				border-radius: 7px;
				margin-top: -.1%;
			}

			.button-profile.active {
				background-color: #d5deef;
				color: #333;
				width: 9%;
				height: 5%;
				margin-top: -3%;
			}

			.button-profile.active svg {
				fill: var(--text-color);
				stroke: var(--text-color);
			}

			.adminProfile.show {
				display: flex;
				flex-direction: column;
			}

			.adminProfile a {
				text-decoration: none;
				color: var(--text-color);
				overflow: hidden;
				width: 8vw;
				height: 20%;
				text-align: center;
				align-items: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: .5rem 0 0 0;
				height: 2rem;
				
			}

			.adminProfile a:hover {
				background-color: var(--select-text-color);
				border-radius: 7px;
			}

			.dashboard-content {
				width: 70vw;
				height: 60vh;
				justify-content: space-evenly;
				display: flex;
				margin-top: 2%;
				margin-left: 50px;
			}

			.card-total {
				width: 20%;
				height: 20%;
				background-image: linear-gradient(90deg, #1e91d0 15%, #1477d4fb 100%);
				border-radius: 15px;
				justify-content: space-evenly;
				margin-top: 2rem;
				box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
			}

			.card-total p {
				font-size: .7rem;
			}

			.card-total p,
			h3 {
				margin-left: 30px;
				color: var(--background-color);
			}
			hr{
				width: 75%;
				position: absolute;
				margin-top: -30%;
				margin-left: 4%;
				border: 1px solid gray;
			}
			.department-graph {
				width: 30%;
				height: 90%;
				background-color: #ffff;
				border-radius: 15px;
				margin-top: 2rem;
				box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
			}

			.total-graph {
				width: 48%;
				height: 35%;
				margin-top: 12%;
				margin-left: -24%;
				background-color: #ffff;
				position: absolute;
				border-radius: 15px;
				box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
				z-index: 1;
			}

			/* table section */
			.table-container {
				padding: 20px;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
				width: 80vw;
				height: 100%;
				position: absolute;
				background-color: var(--background-color);
				margin-left: 3.9%;
				margin-top: 32%;
				justify-content: flex-start;
				align-items: start;
				color: var(--text-color);
				scroll-behavior: smooth;
				gap: 10px;
			}

			.table-content {
				background-color: white;
				padding: 15px;
				border-radius: 5px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				width: 30vw;
				height: 40vh;
				color: var(--text-color);
				margin-left: 8%;
				scroll-behavior: smooth;
				overflow-y: auto;
			}
			.table-content::-webkit-scrollbar{
				width: .8rem;
			}
			.table-content::-webkit-scrollbar-track{
				background: transparent;
			}
			.table-content::-webkit-scrollbar-thumb{
				background-color: var(--primary-color);
				border-radius: 5rem;
			}


			.table-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 10px;
				color: var(--text-color);
			}

			.table-header .table-title,
			#modal-title {
				margin: 0;
				color: var(--text-color);
			}

			.add-btn-table {
				background-color: #00509d;
				color: white;
				border: none;
				padding: 10px 15px;
				border-radius: 5px;
				cursor: pointer;
			}

			table {
				width: 100%;
				border-collapse: collapse;
				margin-bottom: 15px;
			}

			table th,
			table td {
				padding: 10px;
				text-align: left;
				border-bottom: 1px solid #ddd;
			}

			table th {
				background-color: #1e91d0;
				color: white;
			}

			table td button {
				padding: 5px 10px;
				margin: 2px;
				border: none;
				border-radius: 3px;
				cursor: pointer;
			}

			.update-btn {
				background-color: #ffc107;
				color: white;
			}

			.delete-btn {
				background-color: #dc3545;
				color: white;
			}

			.modal {
				display: none;
				position: fixed;
				z-index: 1;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				justify-content: center;
				align-items: center;
			}

			.modal-content {
				background-color: white;
				padding: 20px;
				border-radius: 5px;
				width: 450px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
			}

			.modal-content h3 {
				margin-top: 0;
			}

			.modal-content input[type="text"],
			.modal-content input[type="email"] {
				width: 100%;
				padding: 10px;
				margin-bottom: 10px;
				border: 1px solid #ddd;
				border-radius: 3px;
			}

			.modal-content button {
				padding: 10px 15px;
				border: none;
				border-radius: 5px;
				cursor: pointer;
			}

			.submit-btn {
				background-color: #00509d;
				color: white;
			}

			.cancel-btn {
				background-color: #ccc;
				margin-right: 10px;
			}

			.submit-btn:hover {
				background-color: #1477d4fb;
			}
			#program{
				width: 70%;
			}